DSPractice/DSPractice.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
DSPractice/DSPractice.xcodeproj/project.xcworkspace/xcuserdata/ankita.xcuserdatad/UserInterfaceState.xcuserstate
